@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
    border: 1px solid white;
    width: 100%;
    height: 80px;
    padding: 0 3%;
}

.menu-icon {
    margin-top: 20px;
    float: left;
}

.menu-line {
    border: 2px solid black;
    border-radius: 10px;
    width: 30px;
    margin: 6.5px 0;
}

.header-img {
    margin: 25px 25px;
    float: left;
}

.header-img img {
    width: 130px;
}

.next {
    border: 1px solid #1BBC9B;
    border-radius: 50px;
    display: inline-block;
    transition: .3s;
    margin-top: 15px;
    float: right;
}

.next a {
    color: #1BBC9B;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 40px;
    display: inline-block;
    vertical-align: middle;
    transition: .3s;
}

.next:hover {
    border: 1px solid black;
}

.next a:hover {
    color: black;
    text-decoration: underline;
}

img[alt="Notification Bell"] {
    float: right;
    margin: 20px 18px;
}

.username {
    float: right;
    margin: 10px 0 10px 30px;
}

.username img {
    width: 45px;
    display: inline-block;
}

.username p {
    display: inline-block;
    color: #384044;
    font-size: 13px;
    vertical-align: top;
    margin-right: 15px;
    margin-top: 10px;
}

img[alt="Arrow Down"] {
    float: right;
    width: 10px;
    margin-top: 30px;
    margin-left: 8px;
}

main {
    height: 100vh;
    background-color: #F2F7FB;
}

.center {
    height: 100%;
    width: 79vw;
    margin: 0 auto;
}

.center h2 {
    font-weight: 500;
    font-size: 25px;
    padding: 30px 0;
}

.center > p {
    color: #384044;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}

.level, .category {
    display: inline-block;
    margin: 0 0px 0px 40px;
}

.level p, .category p{
    color: rgb(139, 139, 139);
    font-size: 13px;
}

.level select, .category select {
    border: 0px;
    margin-top: 10px;
    box-sizing: content-box;
    width: 350px;
    height: 50px;
    background-color: #E8F1F5;
    border-radius: 60px;
}

.level select:focus, .category select:focus {
    outline: none;
}

.recently {
    width: 100%;
    background-color: white;
    margin-top: 30px;
    padding: 20px;
}

.recently h3 {
    color: #384044;
    font-size: 17px;
    font-weight: 500;
    padding-left: 20px;
}

.video {
    margin-top: 20px;
    display: block;
    width: 25%;
    float: left;
    padding: 0 20px 20px 20px;
    cursor: pointer
}
.video img{
    width: 100%;
}

.video h4 {
    margin: 15px 0;
    color: #8395A1;
    font-size: 11px;
    font-weight: 500;
}

.video p{
    font-size: 16px;
    font-weight: 300;
}



